@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

body {
    background-color: #ceb9d8;
}

.anaBody {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 1;
    width: 99%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
    height: auto;
}

#site {
    background-color: whitesmoke;
    height: auto;
    box-shadow: #000000 0 0 10px;
    margin: 25px auto auto auto;
    border-radius: 10px;
}

#logo {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LogoDuzeni {
    padding: 10px;
    width: auto;
    height: 95%;
}

#slogan {
    height: 100px;
    text-align: center;
}

.H1slogan {
    margin-top: 30px;
    font-family: 'Amatic SC', cursive;
}

#sosyalMedya {
    height: 100px;
    position: relative;
    margin: auto;
}

.ogeler {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .ogeler a {
        height: 50px;
        width: 50px;
    }


        .ogeler a img {
            height: 60px;
            width: 60px;
            border-radius: 5px 5px;
            transition: all 0.5s;
        }

            .ogeler a img:hover {
                border-radius: 25px 5px 25px 5px;
            }

header {
    border-bottom: 2px solid black;
}

.yatayMenu {
    border-bottom: 2px solid black;
}

#solMenu {
    margin-top: 25px;
    margin-left: 15px;
    height: auto;
    float: left;
}

.bosluk-15 {
    margin-bottom: 15px;
}

.merkezleme {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SlideBoyutu {
    height: 400px;
    width: 650px;
}

.carousel-item img {
    height: 400px;
    width: 650px;
}

.x150kareResim {
    width: 150px;
    height: 150px;

}

.x250400DortgenResim {
    width: 400px;
    height: 250px;
}

/**************************************/
.content-centerer {
    display: grid;
    justify-content: center;
    margin-top: 25px;
    padding-top: 25px;
    grid-row-gap: 20px;
}

.center {
    margin: 0 auto;
    width: 80%;
}

main {
    flex: 1;
    /*min-height: 90vh;*/
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.btn.btn-raunded {
    border-radius: 10px;
}

.nav-sep {
    height: 80px;
    width: 2px;
    background-color: #423f3f;
    margin: 0 0px 0 0px;
    display: block;
}

.nav-log {
    width: 200px;
    height: 150px;
    background-color: #f8f4ff;
    box-shadow: 0 3px 10px 0 #d3cece;
    border: solid 2px #d3cece;
    right: 65px;
    top: 130px;
    position: absolute;
    display: none;
    align-content: center;
    padding: 0 -20px 0 0;
    z-index: 1;
}

.nav-log-transp {
    width: 100px;
    height: 30px;
    background-color: transparent;
    right: 120px;
    top: 100px;
    position: absolute;
    display: grid;
}

.nav-log-tri {
    width: 20px;
    height: 20px;
    transform: rotate( 45deg );
    position: absolute;
    display: none;
    right: 160px;
    top: 120px;
    border: solid 1px #d3cece;
    border-width: 2px 0 0 2px;
    background-color: #f8f4ff;
    z-index: 999;
}

.nav-log-buttons {
    margin: 10px 0 10px calc(50% - 75px);
    width: 150px;
    height: 40px;
}

.btn.nav-log-btn1 {
    background-color: #6495ed;
    color: white;
}

    .btn.nav-log-btn1:hover, .btn.nav-log-btn1:active {
        background: #4d82d8;
        color: white;
    }
/*.icon:hover, .icon:active{
                background: #4d82d8;
            }*/
.btn.nav-log-btn2 {
    background-color: #ed0ff6;
    color: white;
}

    .btn.nav-log-btn2:hover, .btn.nav-log-btn2:active {
        background: #e900ea;
        color: white;
    }

.footer-bank-logos {
    align-content: center;
}

.btnSepet {
    z-index: 1000;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 30px;
    right: 35px;
    width: 60px;
    height: 80px;
}

/*************************************/
.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

    .fa:hover {
        opacity: 0.7;
    }

.fa-facebook {
    margin-left: 15px;
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
    background: #00aff0;
    color: white;
}

.fa-android {
    background: #a4c639;
    color: white;
}

.fa-dribbble {
    background: #ea4c89;
    color: white;
}

.fa-vimeo {
    background: #45bbff;
    color: white;
}

.fa-tumblr {
    background: #2c4762;
    color: white;
}

.fa-vine {
    background: #00b489;
    color: white;
}

.fa-foursquare {
    background: #45bbff;
    color: white;
}

.fa-stumbleupon {
    background: #eb4924;
    color: white;
}

.fa-flickr {
    background: #f40083;
    color: white;
}

.fa-yahoo {
    background: #430297;
    color: white;
}

.fa-soundcloud {
    background: #ff5500;
    color: white;
}

.fa-reddit {
    background: #ff5700;
    color: white;
}

.fa-rss {
    background: #ff6600;
    color: white;
}
